@import 'reset';

html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

#root {
    height: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cdcdcd;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #cdcdcd;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #cdcdcd;
}
:-moz-placeholder { /* Firefox 18- */
    color: #cdcdcd;
}

a, .linklike-btn {
    color : #8760FE;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #C2B1FF;
}


.main-wrap {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.header-container {
    padding: 2em;
    display: flex;
    flex-flow: row wrap;

    .logo {
        display: block;
    }
}

.grid-container {
    width: 80em;
    // height: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    // align-items: flex-start;

    .left-bar {
        width: 300px;
        padding: 32px;
    }

    .main-page {
        display: flex;
        flex-flow : row;
        margin-left: 10em;
        width: 600px;
        padding: 32px;
    }
}


.currentUser {
    position: relative;
    border-radius: 8px;  
    margin-left: auto;
    width: auto;  

    .name {
        color: #575757;
        font-size: 14px;
        line-height: 1;
    }

    .logout-btn {
        // color: #111;
        // position: absolute;
        right: 12px;
        margin-left: 8px;
        // border: none;
        padding: 0;
        font-size: 14px;
        // border-bottom: 1px solid #757575;
    }
}

.icon-btn {
    margin: 0;
    padding: 0;
    border: none;
}

.title-block {

    .title-icon {
        vertical-align: middle;
        display: inline-block;
        margin-right: 16px;
    }

    .title-copy {
        vertical-align: middle;
        display: inline-block;
        position: relative;
        font-size:  12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #777777;
    }
}


.projects-menu {
    // margin-top: 32px;

    .title {
        vertical-align: middle;

    }

    .addProject-btn {
        position: absolute;
        right: 0;
        top: -6px;

    }

    .newProject-form {
        margin-top: 12px;
        
        input {
            width: 100%;
            border: none;

            font-size: 16px;
            padding-bottom: 8px;

            &:focus {
                outline: none;
            }
        }
    }

    .projects-list {
        margin-left: 32px;
        margin-top: 16px;
    }

    .project-link {
        margin-bottom: 12px;

        .project-icon {
            margin-right: 8px;
            vertical-align: middle;
            display: inline-block;
        }

        .project-link-brief {
            display: inline-block;
            vertical-align: top;

            .project-title {
                padding: 0;
                margin: 0;
                text-align: left;
                border: none;
    
                font-size: 16px;
                color: #242424;
            }
    
        }
    }
}

.project-pane {
    position: relative;
    width: 100%;

    .project-title {
        color: #242424;
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .project-summary {
        position: relative;
        width: 100%;
        font-size: 16px;
        border: none;
        color: #484848;
        line-height: 1.5;
        // padding: 24px;
    }

    .project-todos {
        margin-top: 32px;

        .title-block {
            margin-left: -34px;
        }

        .todo-container {
            // margin-top: 16px;
            // margin-left: 32px;

            .todo-block {
                padding: 8px 0;
                // border-bottom: 1px solid #F0EFF0;

                .todo-checkbox {
                    display: none;
                    // margin-right: 12px;
                }

                .todo-checkbox + label:before {
                    content : '';
                    display : inline-block;
                    margin-right: 12px;
                    background: url(../img/checkbox.svg) no-repeat;
                    width: 15px;
                    height: 15px;
                    vertical-align: -2px;
                }

                .todo-checkbox:checked + label:before {
                    content : '';
                    display : inline-block;
                    margin-right: 12px;
                    background: url(../img/checkbox-checked.svg) no-repeat;
                    width: 15px;
                    height: 15px;
                    vertical-align: -2px;
                }

                label {
                    // margin-left: 24px;
                    // vertical-align: middle;
                    cursor : pointer;
                }

                .todo-checkbox:checked + label {
                    text-decoration: line-through;
                }
                

                .todo-title {
                    font-size: 14px;
                    font-weight: 500;
                    color: #484848;
                }
            }
        }

    }


    .project-notes {
        margin-top: 32px;

        .title-block {
            margin-left: -34px;
            margin-bottom : 12px;
        }

        .note-block {
            border: 1px solid #F0EFF0;
            padding: 16px;
            margin-bottom: 8px;
            border-radius: 8px;
        }
    }

 
}